

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
body { 
    background: #575A4B ;
    font-size: 14px;    
    line-height: 22px;
    color: #555555;
}
.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
} 
.semi-bold {
    font-weight: 500;
    font-size: 16px;
}
.izquierda{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;

}

.izquierda .datos_izquierda{
    width: 280px;
    background: #0bb5f4;
}

.izquierda .datos_izquierda .perfil{
    width: 100%;
    height: 280px;
}

.izquierda .datos_izquierda .perfil img{
    width: 100%;
    height: 100%;
}
.izquierda .datos_izquierda .resumen_contenido{
    padding:  0 25px;

}

.izquierda .title {
    margin-bottom: 20px;
}

.izquierda .datos_izquierda .bold{
    color: #fff;
}

.izquierda .datos_izquierda .regular{
    color: #b1eaff;
}

.izquierda .resumen_item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.izquierda .datos_izquierda .resumen_item:last-child{
    border-bottom: 0px;
}
.izquierda .datos_izquierda ul li:last-child{
    margin-bottom: 0px;
}
.izquierda .datos_izquierda ul li .icono{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.izquierda .icono i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.izquierda .datos_izquierda ul li .dato{
    color: #b1eaff;
}

.izquierda .datos_izquierda .resumen_libros ul li{
    color: #b1eaff;
    justify-content: space-between;
}

.izquierda .datos_izquierda .resumen_libros ul li .nombre_habilidad{
    width: 25%;
}

.izquierda .datos_izquierda .resumen_libros ul li .progeso_habilidad{
    width: 60%;
    margin: 0 5px;
    height: 5px;    
    background: #009fd9 ;   
    position: relative;
}
.izquierda .datos_izquierda .resumen_libros ul li .personal_habilidad{
    width: 15%;
}
.izquierda .datos_izquierda .resumen_libros ul li .progeso_habilidad span{
position: absolute;
    top: 0;
    left: 0;    
    height: 100%;
    background: #fff;
}
.izquierda .datos_derecha{
    width: 520px;
    background: #fff;
    padding: 25px;
}
.izquierda .datos_derecha .resumen_trabajo ul,
.izquierda .datos_derecha .resumen_eduacion ul{
    padding-left: 40px; 
    overflow: hidden;
}
.izquierda .datos_derecha ul li{
    position: relative;
}
.izquierda .datos_derecha ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;    
}
.izquierda .datos_derecha ul li .info{
    margin-bottom: 20px;    
}
.izquierda .datos_derecha ul li:last-child .info {
    margin-bottom: 0;
  }
  
  .izquierda .datos_derecha .resumen_trabajo ul li:before,
  .izquierda .datos_derecha .resumen_educacion ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
  }
  
  .izquierda .datos_derecha .resumen_trabajo ul li:after,
  .izquierda .datos_derecha .resumen_educacion ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #0bb5f4;
  }
  
  .izquierda .datos_derecha .resumen_pasatiempos ul {
    display: flex;
    justify-content: space-between;
  }
  
  .izquierda .datos_derecha .resumen_pasatiempos ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
  }
  
  .izquierda .datos_derecha .resumen_pasatiempos ul li i {
    font-size: 30px;
  }
  
  .izquierda .datos_derecha .resumen_pasatiempos ul li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #0bb5f4;
  }
  
  .izquierda .datos_derecha .resumen_pasatiempos ul li:last-child:before {
    display: none;
  }